html{
    height: 0;
    margin: 0;
    padding: 0;
}

body{
    height: 0;
    margin: 0;
    padding: 0;
    background-color: #6393c1;
}

label{
    margin-right: 10px;
    font-weight: bold;
}

h1{
    font-weight: bold;
    font-family: sans-serif;
}

a{
    color: #1F7DFF;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    color: #AAF;
}

input{
    width: 100%;
    height: 30px;
    border-radius: 6px;
    color: #0864db;
    font-size: 1.2em;
}

input:focus{
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6);
}

.button{
    width: 100px;
    float: right;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 6px;
    border-color: #4cae4c;
    background-color: #5cb85c;
    margin: 7px 15px 10px 0;
    cursor: pointer;
}

.button:hover{
    border-color: rgba(166, 244, 166,.8);
    background-color: #2a962a;
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(166, 244, 166,.6);
    box-shadow: 0 0 8px rgba(166, 244, 166,.6);
}

.ajuste{
    clear: right;
}

.erro{
    color: #b94a48;
}

.msg-erro{
    color: #DA666C;
    font-size: 0.8em;
    font-weight: bold;
}

#copyright a{
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}

#copyright a:hover{
    color: #AAF;
}

#pagina{
    text-align: center;
    background: #cfe7fa; /* Old browsers */
    background: -moz-linear-gradient(top,  #cfe7fa 0%, #6393c1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfe7fa), color-stop(100%,#6393c1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cfe7fa 0%,#6393c1 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #cfe7fa 0%,#6393c1 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=0 ); /* IE6-9 */
}

#cabecalho{
    width: 790px;
    text-align: left;
    margin: 0 auto;
}

#cabecalho img{
    padding: 50px 0 0 0;
}

#conteudo{
    width: 790px;
    padding: 10px;
    margin: 30px auto;
    background: #D3E6F6;
    border-radius: .5em;
}

#conteudo h1{
    color: #FFF;
    font-size: 2.2em;
    font-family: sans-serif;
    text-shadow: 1px 2px 0 #888;
}

#conteudo h1 span{
    color: #1F7DFF;
    text-shadow: 1px 2px 0 #888;
}

#conteudo p{
    color: #333;
    margin: 20px;
    line-height: 1.65;
    text-align: justify;
    font-family: Tahoma, Verdana, Arial, Georgia, sans-serif;
}

#rodape{
    width: 790px;
    margin: 0px auto;
}

#copyright{
    margin-top: 5px;
    float: left;
    color: #DDD;
    font-size: 0.8em;
    text-align: left;
    font-family: Tahoma, Verdana, Arial, Georgia, sans-serif;
}

#django{
    float: right;
}