<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EventeX</title>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/estilo.css" >
</head>
<body>
    <div id="pagina">
        <div id="cabecalho">
            <img src="{{ STATIC_URL }}img/logo.png">
        </div>
        <div id="conteudo">
            <h1>Bem-vindo ao <span>EventeX<span></h1>
            <p>
                O evento mais sensacional d ano depois do Dev in Rio!<br />
                Você não pode perder esta oportunidade!<br />
                <b>Abertura das inscrições no próximo domingo.</b><br />
                Para dúvidas e mais informações, entre em contato
                com <a>eventex@eventex.com.br</a>
            </p>
        </div>
        <div id="rodape">
            <div id="copyright">
                &copy 2013 <a>Eventex</a> todos os direitos reservados.
            </div>
            <div id="django">
                <img src="{{ STATIC_URL }}img/django_power.gif">
            </div>
        </div>
    </div>
</body>
</html>